@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body{
    min-height: 100vh;
    background-image: url("images/background.html");
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;

}
.card{
    border: solid;
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: rgba(255, 255, 255, 0.85);
    padding: 2em 1em;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.35);
    border-color: rgba(255, 255, 255, 0.05);
    box-shadow: 2px 5px 10px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.card img{
    border: solid;
    width: 100px;
    border-radius: 50%;
    border-color: rgba(255, 255, 255, 0.85);
    box-shadow: 2px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.card h1{
    font-size: 1.75rem;
}

.card p{
font-size: 1.1rem;
}

.card button{
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    border-color: rgba(255, 255, 255, 0.35);
    box-shadow: 2px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.card button:hover{
    cursor: pointer;
    background-color: white;
}
